/*************************/
/* GENERAL STYLES 
/*************************/
.pg_faq .float_right {
	float: right;	
}

.pg_faq .float_left {
	float: left;	
}

.pg_faq .float_clear {
	clear: both;
}

.pg_faq .faq {
	float: left;
}

.pg_faq .faq li {
	list-style: disc;
}

.pg_faq .faq p {
	text-indent: 0;
}

.pg_faq .toplink {
    display: block;
    text-align: right;
}

.pg_faq .toplink a {
	color: #ffb966;
}

.pg_faq .faq_main ul {
	margin-bottom: 25px;	
}



/*************************/
/* GO TOP LINK STYLES 
/*************************/

/* requires the jq_scroll_top.js script */
.pg_faq .content_div .back-top {
    opacity:0.8;	
	color: #033C89;
	font-weight: bold;
	display:none;
	margin-left:150px;
}

.pg_faq .content_div .top_sticky{
	position:fixed;
	bottom:170px;
	float:right;
}

.pg_faq #gotop a {
	color: #D3651B;
	font-weight: bold;
	font-size: 1em;
	clear: both;
	float: right;
	position: relative;
	right: 50px;
/*	position: fixed;
	right: 250px;
	bottom: 20px;
*/
}

/*************************/
/* CATEGORY STYLES 
/*************************/

.pg_faq .icon-faq {
	color: #515157;
    padding-right: 15px;
    position: relative;
	font-size: 20px;
}

.pg_faq .faq_side {
	width: 25%;		
	float: right;	
}

.pg_faq .faq_side h1 {
	padding-left: 10%;
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
}

.pg_faq .faq_side li {
	list-style: none;	
	line-height: 230%;
	padding-left: 10%;
	
}

.pg_faq .faq_side li a {
	font-size: 14px;
	font-weight: normal;
}

/*************************/
/* MAIN FAQ STYLES 
/*************************/
.pg_faq .faq_main {
	width: 75%;	
}

.pg_faq .faq_main h3 {
	font-family: 'Oxygen', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.pg_faq .faq_main a {
	color: #383838;
}


.pg_faq .faq_main li a {
	color: #DA5200;	
	text-decoration: underline;
}


.pg_faq .faq_main li a:hover,
.pg_faq .faq_main li a:focus,
.pg_faq .faq_main li a:active {
	text-decoration: underline;
	color: #f0b38e;	
}

.pg_faq .faq_main article h2 { 
	color: #0182cf;
	font-size: 20px;
}

/*********************************/
/* GENERAL  & PROGRAM FAQ STYLES 
/*********************************/
.pg_faq .general_faq h1,
.pg_faq .program_faq h1,
.pg_faq .program_faq section h2,
.pg_faq .general_faq_articles article h1,
.pg_faq .program_faq_articles h2 {
	margin-top: 5%;
	margin-bottom: 3%;
}

.pg_faq .program_faq section h2 ,
.pg_faq .general_faq_articles article h1,
.pg_faq .program_faq_articles h2 {
}

.pg_faq .general_faq li,
.pg_faq .program_faq section li {
	margin-top: 10px;
	margin-left: 7%;	
}

.pg_faq .general_faq li:nth-of-type(1),
.pg_faq .program_faq section li:nth-of-type(1) {
	margin-top: 0;
}

/*********************************/
/* PROGRAM ARTICLES FAQ STYLES 
/*********************************/

.pg_faq .general_faq_articles h1,
.pg_faq .general_faq_articles p,
.pg_faq .program_faq_articles h1,
.pg_faq .program_faq_articles h2,
.pg_faq .program_faq_articles p {
	margin-top: 5%;
	margin-bottom: 3%;
}

.pg_faq .general_faq_articles h1,
.pg_faq .general_faq_articles p,
.pg_faq .program_faq_articles h1,
.pg_faq .program_faq_articles h2,
.pg_faq .program_faq_articles p {
	margin-top: 5%;
	margin-bottom: 3%;
}