/*footer css*/

.footer_wrapper {
	width: 960px;
	margin: 0 auto;
}
.outer_div .mobile_footer_nav{
	display:none;
}
.outer_div .mobile_footer_nav li{
	float:left;
	width:20%;
	text-align:center;
	border-right:1px solid #fff;
	box-sizing:border-box;
}

.outer_div .mobile_footer_nav li a{
	text-decoration:none;
	line-height:30px;
	color:#fff;
	font-family: 'oswaldregular';
}

.outer_div .mobile_footer_nav li a:hover,
.outer_div .mobile_footer_nav li a:focus,
.outer_div .mobile_footer_nav li a:active {
	background-color: rgb(116, 168, 224);
	transition: all 0.3s ease;
}

.outer_div .mobile_footer_nav li:last-child{
	border-right:none;
}

footer {
	height: 70px;
	/*background-color: rgba(37,37,37,0.8);*/
	background-color: rgba(0,43,94,0.8);
	color: #fff;
	font-size: 14px;
	font-family: 'oswaldregular';
	clear:both;
}

footer nav li {
	float: left;
	line-height: 45px;
}

footer nav a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 15px;
	border-right: 1px solid #9b9b9b;
}

footer a:hover,
footer a:active,
footer a:focus {
	color:#A9DDFF;
	transition: all 0.4s ease;
}

/* Hide programs link in desktop view */ 
footer nav li:nth-of-type(2) a {
	display: none;
}

footer nav li:nth-of-type(10) a {
	border-right: none;
}

footer img {
	float: right;
	margin-top: 5px;
}

footer p {
	clear: left;
	padding-left: 15px;
	font-size: 12px;
}

/*end footer css*/