/* form css*/

.pg_programs {
	box-sizing: border-box;	
}

form{
	margin-left:calc(50% - 265px);
	margin-top:50px;
	margin-bottom:30px;
}

form fieldset{
	border: 1px solid #8F8F8F;
	padding:20px;
	width:500px;
	background-color: rgba(255, 255, 255, 0.77);
}
form .radio{
	background-color:rgba(255, 255, 255, 0.59);

}
form .radio legend{
	color:#000;
}
form legend{
	font-size: 24px;
	font-family: 'oswaldregular';
	color: #053E99;
	font-weight: bold;
}

form input,
form textarea{
	width:430px;
	margin: 5px 0 20px;
	text-indent:5px;
	box-sizing:margin-box;
	padding:3px;
	-webkit-box-shadow: inset 0px 0px 2px 1px rgba(19, 23, 102, 0.75);
	-moz-box-shadow:    inset 0px 0px 2px 1px rgba(19, 23, 102, 0.75);
	box-shadow:         inset 0px 0px 2px 1px rgba(19, 23, 102, 0.75);
	background: rgba(248, 183, 102, 0.07);
}
form input,
form textarea,
form label,
form .radio{
	margin-left:calc(50% - 215px);
	box-sizing: border-box;	
}
form input{
	height:30px;
	line-height:30px;
	font-size:16px;
	padding:5px;
}
form .radio{
	width: 430px;
	height: 70px;
	padding: 10px;
	line-height: 7px;
}

form input {
	font-family: 'Oxygen', sans-serif;		
}

form textarea {
	font-family: 'Oxygen', sans-serif;
	padding: 10px 10px;
}

.radio legend,
form label{
	font-size:17px;
	font-family: 'Oxygen', sans-serif;
}

form label {
	font-family: 'Oxygen', sans-serif;	
	font-weight: bold;
}

.label_radio{
	margin:0;

}
form #have_content,
form #best_time_contact,
form #best_time_contact1,
form #best_time_contact2{
	height:15px;
	width:15px;
	margin-right:20px;
	margin-left:20px;
	font-size:10px;
	box-shadow:none;
}
form #best_time_contact,
form #best_time_contact1,
form #best_time_contact2{
	margin-left: 30px;
	margin-right: 10px;
}
.radio label{
	font-weight:normal;
	font-size:16px;
}
#submit{
	width: 110px;
	line-height: 35px;
	margin-left: calc(50% - 50px);
	margin-top: 5%;
	height: 35px;
	color: #FFFFFF;
	font-size: 21px;
	font-weight: bold;
	border: none;
	padding: 0;
	background: #ff8a00;
	cursor:pointer;
	box-shadow:none;
}

#submit:hover {
	background-color: #FFA63D;
	transition: all 0.3s ease;
}

/*end form css*/