/*general css*/
body {
	background-image: url(../images/body_bg.jpg);
	background-attachment: fixed;
}

a{
	text-decoration:none;
}

h1,h2,h3,h4,h5{
	font-family: 'oswaldregular';
}

.pg_programs .content_div h4,
.pg_nasp .content_div h4,
.pg_oat .content_div h4,
.pg_ssd .content_div h4,
.pg_tsp .content_div h4,
.pg_twd .content_div h4{
	font-family: 'oswaldbold';
}

p, li{
	font-family: 'Oxygen', sans-serif;
}

p{
	text-align:justify;
}

li{
	list-style-type: disc;
}

h1,
.htp_content h2{
	text-transform: uppercase;
}

.flipper, 
.front, 
.back,
.htp_content,
.htp_content_tablet{
	box-sizing:border-box;
}

.clear {
	clear: both;	
}

.content{
	position:relative;
}



.left_col, .right_col {
	float: left;	
}

.right_col {
	width: 745px;
}

.left_col {
	background-color: rgba(219,219,219,0.95);
}

.footer_home{
	display:none;
}
.outer_wrapper .menu {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	min-height: 100%;
	background-image: url(../images/debut_dark_2x.png);
	background-size: 200px 200px;
}

/*end general css*/