@media screen and (max-width:1024px) {

	.subpage_sub_nav_tablet {
		width: 100%;
		max-width:215px;
	}
	.flip-container:hover .front{
	    transform: rotateY(0deg);
	}
	
	.flip-container:hover .back {
		transform: rotateY(180deg);	
	}

}
