@media screen and (max-width:700px){
	.campus_info_right_col img {
		display: inline;	
		width: 100%;
		height: auto;
	}
	
	#map_canvas {
		display: none;	
	}

	header .slogan {
		left: 146px;
		font-size:17px;
	}
	header .nav_items {
		left: 128px;
	}
	header nav a {
		font-size: 16px;
	}
	.nav_items ul li:nth-of-type(1) span {
		font-size: 25px;
	}
	.home_link_container {
		width: 100%;
	}
	.home_link_main_text {
		font-size: 54px;
	}
}
