/* CSS Document */

/*common styles for all program pages */

.pg_programs .content_div img{
	float: right;
	margin: 5px 0 15px 30px;
	box-shadow: 2px 3px 12px;
}

.pg_programs .content_div .pg_title,{
	color: #183966;
	font-weight: bold;
	font-size: 25px;
}

.pg_programs .content_div h2{
	margin-top: 20px;
}


.pg_programs .content_div ul{
	margin-bottom: 20px;
}

.pg_programs .content_div ul li{
	padding: 5px;
	margin-left: 7%;
	list-style: disc;
}

.pg_programs .content_div p{
	margin-bottom: 10px;
}


.pg_programs .content_div h4{
	color: rgb(62, 88, 155);
	font-size: 16px;
	margin-top: 35px;
	margin-bottom: 15px;
	letter-spacing: 1px;
	font-weight: bold;
}

/*styles for programs overview page */

.pg_programs .content_div h2 {
	margin-top: 30px;	
}

.pg_overview .content_div a {
	margin-bottom: 25px;
	display: block;
	background-color: #fff;
	width: 110px;
	height: 35px;
	color: #0182cf;
	line-height: 35px;
	text-align: center;
	border: 2px solid;
}

.pg_programs .content_div a:hover,
.pg_programs .content_div a:focus,
.pg_programs .content_div a:active {
	background-color: #dcf0ff;
}

.pg_programs .content_div h3 {
	cursor: pointer;
	width: 166px;
}
.pg_overview .content_div ul{
	display:none;
}
.pg_programs .content_div ul {
	margin-bottom: 30px;	
}

.pg_programs .content_div li {
	margin-left: 30px;
}

/* table styles */

.pg_programs .content_div{
	width: 69%;	
	float: left;
	padding: 35px;
	padding-bottom: 0;
}

.pg_programs .subpage_subnav_div{
	float: left;	
	background-color: rgba(235,235,235,0.9);
}

			
/*UL styles*/			
.pg_programs .content_div table ul{
	text-align: left;			
	padding-left: 8%;
	list-style-type: disc;
}

.pg_programs .content_div table li{
	padding: 5px;
}



/*styles for float UL */

.ul_float li{
	margin: 0 6px 15px 0;
	display: block;
	float: left;
	background: rgba(253, 145, 3, 0.28);
}

/*TWD list styles */

.pg_programs .content_div ol {
	list-style: decimal;
}

.pg_programs .content_div ol li {
	margin-left: 7%;
	padding: 5px;
	line-height: 1.5;
}

/*APPLY NOW styles */
.pg_programs .apply_now a{
	margin: 1% 0 2% 0;
	float: left;
	text-align: center;
	display: block;
	width: 170px;
	height: 40px;
	line-height: 40px;
	background-color: rgba(255,138,0,1);
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}

.pg_programs .apply_now a:hover,
.pg_programs .apply_now a:active,
.pg_programs .apply_now a:focus {
	background-color: rgba(255,138,0,0.75);
	transition: all 0.3s ease;
}

.form_msg {
	color: rgb(243, 108, 74);
	font-weight: bold;
	border: 1px solid;
	padding: 10px;	
}

