/* CSS Document */

/* project styles */

.pg_projects .logos {
	margin-left: 2%;
	margin-top: 15px;
	width: 98%;
}

.pg_projects .logos img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.pg_projects .logos_row01 img {
	margin-right: 20px;
}

.pg_projects .logos_row03 img {
	margin-right: 10px;
}

.pg_projects .logos div {
	margin-bottom: 10px;	
}

.twd_projects li {
	float: left;
	margin-right: 15px;
	height:200px;
	width:200px;
}

.twd_projects li h4{
	margin-bottom:5px;

}

.proj_img_container {
	box-shadow: 2px 2px 3px #787878;
	border-top: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;	
}

.proj_img01,
.proj_img02,
.proj_img03,
.proj_img04 {
	background-size: cover;
	-moz-background-size: cover;
	background-repeat: no-repeat;
}

.proj_img01 {
	background-image: url(../images/project01.jpg);
}

.proj_img02 {
	background-image: url(../images/project02.jpg);
}

.proj_img03 {
	background-image: url(../images/project03.jpg);
}

.proj_img04 {
	background-image: url(../images/project04.jpg);
}

.proj_img01_responsive,
.proj_img02_responsive,
.proj_img03_responsive,
.proj_img04_responsive {
	display: none;
}

.overlay {
	background: rgba(0,0,0,0.75);
   	text-align: center;
   	opacity: 0;
   	-webkit-transition: opacity 0.4s ease;
	-moz-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
	width: 200px;
	height: 200px;
	padding-top: 67px;
	box-sizing: border-box;
}

.proj_img01:hover .overlay,
.proj_img02:hover .overlay,
.proj_img03:hover .overlay,
.proj_img04:hover .overlay {
	opacity: 1;	
}

.overlay_text {
	color: #fff;
	font-size: 18px;
	font-family: 'oswaldregular';
}

.pg_projects .content_div p {
	margin-bottom: 40px;	
}

.pg_projects .content_div p:nth-of-type(2) {
	margin-bottom:20px;	
}

.twd_projects {
	margin-bottom: 40px;	
}

.pg_projects .content_div h2:nth-of-type(2) {
	margin-bottom: 30px;	
}

/* end project styles */