/*subnav css*/

.sub_nav>ul>li,
.sub_nav p{
	float:left;
}

.sub_nav>ul>li{
	width:20%;
	text-align:center;
}

.sub_nav hr{
	margin:5px 0 10px;
	border:1px solid #fff;
}

.sub_nav hr:last-child{
	margin: 10px 0;
	clear: both;
}

.sub_nav h2{
	font-weight:bold;
	font-size: 40px;
	letter-spacing: 2px;
	line-height:30px;
	margin:25px 0 12px;
}

.sub_nav p{
	height:90px;
	line-height:1.3;
	font-size:16px;
	text-align: center;
	width:100%;
}

.sub_nav .flip-container a{
	display:block;
	color:#fff;
	height:250px;
}

.flip-container {
	-webkit-perspective: 1000px; /* Chrome, Safari, Opera */
    perspective: 1000px;
    -webkit-transform-style: preserve-3d; /* Chrome, Safari, Opera */
    transform-style: preserve-3d;
}
	/*  UPDATED! flip the pane when hovered */
.flip-container:hover .back{
	transform: rotateY(0deg);
}

.flip-container:hover .front{
    transform: rotateY(180deg);
}

.flip-container, .front, .back{
	width: 100%;
	height: 250px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	position:relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	transition: 0.6s;
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px 30px;
}

/*  UPDATED! front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(-180deg);
}

.sub_nav .flip-container:nth-child(3) p,
.sub_nav .flip-container:nth-child(4) p,
.sub_nav .flip-container:last-child p{
	line-height:1.7;
}

.sub_nav .flip-container:first-child .flipper .front,
.sub_nav .flip-container:first-child .flipper .back{
	background-color: rgba(3,52,101,0.9);
}

.sub_nav .flip-container:nth-child(2) .flipper .front,
.sub_nav .flip-container:nth-child(2) .flipper .back{
	background-color: rgba(1,130,207,0.9);
}

.sub_nav .flip-container:nth-child(3) .flipper .front,
.sub_nav .flip-container:nth-child(3) .flipper .back{
	background-color: rgba(52,100,140,0.9);
}

.sub_nav .flip-container:nth-child(4) .flipper .front,
.sub_nav .flip-container:nth-child(4) .flipper .back{
	background-color: rgba(29,94,176,0.9);
}

.sub_nav .flip-container:last-child .flipper .front,
.sub_nav .flip-container:last-child .flipper .back{
	background-color: rgba(35,112,210,0.9);
}

.back h3 {
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: -5px;
}

.back li {
	font-size: 14px;
	line-height: 1.2;
	text-align: left;
	list-style-type: disc;
	margin-left: 10px;
}
.nav_tablet{
	display:none;
}
/*end subnav css*/