/*outer wrapper*/
.outer_wrapper {
	width: 100%;
	position: relative;	
}

/*end outer wrapper*/

/*inner wrapper */
.inner_wrapper{
	width:960px;
	margin:0 auto;
	padding:50px 0;
}
/*end inner wrapper*/